<div class = 'col-md-8 offset-2'>
  <h1 class = "text-center">New Note</h1>
  <%= form_for @note, url: notes_path do |f| %>
    <div class="form-group">
	    <%= f.label :title, "Title:", class: "col-md-4 control-label" %>
	    <div class="col-md-8">
	      <%= f.text_field :title, class: "form-control" %>
	    </div>
	  </div>
	  <div class="form-group">
	    <%= f.label :body, "Body:", class: "col-md-4 control-label" %>
	    <div class="col-md-8">
	      <%= f.text_area :body, class: "form-control" %>
	    </div>
	  </div>

	  <div class="form-group">
	    <%= f.label :tags, "Tags:", class: "col-md-4 control-label" %>
	    <div class="col-md-8">
	    	<%= collection_select(:tags, :ids, Tag.all, :id, :name, {}, {:multiple => true}) %>
	    </div>
	  </div>
	  <%= f.hidden_field :user_id %>
	  <div class="form-group">
    	<%= f.submit "Submit", class: 'btn btn-lg btn-primary float-right' %>
    </div>
  <% end %>
</div>
<button><a href="<%=notes_path%>">Back</a></button>